.BookSearcher {
  .book_picture {
    width: 70px;
    height: 70px;
  }
  .data_box {
    position: relative;
    bottom: 25px;
    border-top: 0 !important;
    padding-top: 1.8rem !important;
  }
  .input_box {
    width: 50% !important;
    z-index: 200;
  }
}
